/*** START COMMONN STYLES ***/

a, a:hover 
{
	text-decoration: none !important;
}

ul 
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, h3, h4, h5, h6 
{
    font-family: 'Prata', sans-serif;
}

.padding-10 
{
    padding: 10px;
}


/*** END COMMON STYLES ***/



/*** START BOOTSTRAP STYLES ***/

#home-section-carousel .carousel-caption
{
    bottom: 250px;
}

#home-section-carousel .carousel-indicators
{
    bottom: 150px;
}


/*** END BOOTSTRAP STYLES ***/




/*** START HTML PAGE STYLE ***/

html
{
	scroll-behavior: smooth;
}

/*** END HTML PAGE STYLE ****/

/*** START BODY STYLE ***/

body
{
	font-size: 16px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

/*** END BODY STYLE ****/



/*** START HOME SECTION STYLE ***/



/*** END HOME SECTION STYLE ***/


/*** START ABOUT SECTION STYLE ***/

.about_content h2 
{
    font-size: 36px;
    line-height: 46px;
    color: #9e8a78;
    margin-bottom: 30px;
}
.about_section h3 
{
    font-size: 17px;
}

.about_section
{
    padding: 80px 0;
    border-bottom: 2px solid #eee;
}

.about_section .about_img img 
{
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.2);
}
.about_section .about_img_3 
{
    margin: -260px 0 0 40px;
}
.about_section .about_img_2 
{
    margin: -180px 0 0 270px;
}

/*** END ABOUT SECTION STYLE ***/















