/*** START COMMONN STYLES ***/

a, a:hover 
{
	text-decoration: none !important;
}

ul 
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, h3, h4, h5, h6 
{
    font-family: 'Prata', sans-serif;
}

.padding-10 
{
    padding: 10px;
}


/*** END COMMON STYLES ***/



/*** START BOOTSTRAP STYLES ***/

#home-section-carousel .carousel-caption
{
    bottom: 250px;
}

#home-section-carousel .carousel-indicators
{
    bottom: 150px;
}


/*** END BOOTSTRAP STYLES ***/




/*** START HTML PAGE STYLE ***/

html
{
	scroll-behavior: smooth;
}

/*** END HTML PAGE STYLE ****/

/*** START BODY STYLE ***/

body
{
	font-size: 16px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

/*** END BODY STYLE ****/



/*** START HOME SECTION STYLE ***/



/*** END HOME SECTION STYLE ***/


/*** START ABOUT SECTION STYLE ***/

.about_content h2 
{
    font-size: 36px;
    line-height: 46px;
    color: #9e8a78;
    margin-bottom: 30px;
}
.about_section h3 
{
    font-size: 17px;
}

.about_section
{
    padding: 80px 0;
    border-bottom: 2px solid #eee;
}

.about_section .about_img img 
{
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.2);
}
.about_section .about_img_3 
{
    margin: -260px 0 0 40px;
}
.about_section .about_img_2 
{
    margin: -180px 0 0 270px;
}

/*** END ABOUT SECTION STYLE ***/





/*** START BOOKING SECTION STYLE ***/

.book_section
{
    background-color: #222227;
    position: relative;
    padding:80px 0px;
}

.book_bg 
{
    background-image: url(../images/book-bg.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
}
.map_pattern 
{
    background-image: url(../images/satellite-map.png);
    background-size: contain;
    background-position: right center;
    opacity: 0.05;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

.appointment_form 
{
    padding: 40px;
}
.appointment_form .book_content 
{
    margin-bottom: 30px;
}

.appointment_form .form-control 
{
    background-color: transparent;
    height: 55px;
    border: 3px solid rgba(255,255,255,0.3);
    line-height: 52px;
    color: #fff;
    border-radius: 0;
}
.appointment_form .form-control:focus 
{
    border: 3px solid rgba(255,255,255,0.5);
    box-shadow: none;
    outline: none;
}
.nice-select.form-control 
{
    width: 100%;
    line-height: 52px;
    padding: 0 15px;
}
.appointment_form .form-control 
{
    background-color: transparent;
    border: 3px solid rgba(255,255,255,0.3);
    line-height: 52px;
    color: #fff;
    border-radius: 0;
}
.appointment_form .default_btn 
{
    margin-top: 15px;
}
.default_btn 
{
    font-family: "Work Sans",sans-serif;
    letter-spacing: 0;
    background-color: #9e8a78;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    border: none;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.default_btn:hover 
{
    color: #fff;
}
.default_btn:hover:before 
{
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.default_btn:before 
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222227;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}


/*** END BOOKING SECTION STYLE ***/










