.services_section
{
    padding: 80px 0px; 
    background-color: #61616130;
}

.service_box 
{
    /* background-color: rgb(13, 8, 8);
    padding: 40px 30px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    box-shadow: 0px 50px 100px 0px rgb(6, 0, 0), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    color: #ffffff; */

    background-color: rgb(13, 8, 8);
    padding: 40px 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    
    
    color: #ffffff;
    transition: all 400ms ease;
}
.service_box:hover {
    -webkit-box-shadow: 0px 50px 100px 0px rgb(64 1 4 / 10%), 0px -6px 0px 0px rgb(248 99 107 / 0%);
    box-shadow: 5px 6px 9px 0px #45484cc2, 0px 0px 0px 0px #63676b78;
    transform: translateY(3%);
}

.service_box i 
{
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    display: block;
    
}