@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #141416 0%, #000000 100%);
}

.login 
{
    max-width: 560px;
    background: rgba(246, 244, 244, 0.083);
    position: relative;
    margin: 15px auto;
    padding: 55px 85px 55px 85px;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    border-radius: 3px;
}

@media (max-width: 560px) 
{
    .login 
    {
        padding-left: 15px;
        padding-right: 15px;
        margin: 30px;
    }
}

.form-input
{
    margin-bottom: 50px;
}


.login input[type="text"],
.login input[type="password"]
{
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: #555555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    margin-bottom: 10px;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.login button[type="submit"] 
{
  
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 3px;
  width: 100%;
  letter-spacing: 1px;
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  
    background: linear-gradient(to right, #0b8793, #360033);
    cursor: pointer;
}


input:focus .border
{
    width :100%;
    height: 100%;
}
    
.login button[type="submit"]:hover 
{
    background: #17c;
}

.login button[type="submit"]:focus 
{
  border-color: #05a;
}

.login .forgotPW
{
  font-size: 13px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0;
}

.login100-form-title 
{
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-bottom: 32px;
    text-align: center;
}

.txt1
{
    font-size: 13px;
    color: #555555;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 11px;
    display: block;
    font-weight: bold;
    
}
