
.login 
{
    height: 30em;
    width: 50em;
    margin: 6em auto;
    
    background: rgb(39, 80, 81);
    position: relative;
    
}
	
@media (max-width: 560px) 
{
    .login 
    {
        padding-left: 15px;
        padding-right: 15px;
        margin: 30px;
    }
}

.form-input
{
    margin-bottom: 50px;
}


.login input[type="text"],
.login input[type="password"]
{
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: #555555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 50%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    margin-bottom: 10px;
}



.login button[type="submit"] 
{
    width: 80%;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-radius: 5px;
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  
    background: linear-gradient(to right, #0b8793, #360033);
    cursor: pointer;
}


input:focus .border
{
    width :100%;
    height: 100%;
}
    


.login .forgotPW
{
  font-size: 13px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0;
}

.login100-form-title 
{
    font-size: 30px;
    color: #0b8793;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 32px;
}

.txt1
{
    font-size: 13px;
    color: #000000;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 11px;
    display: block;
    font-weight: bold;
}



