
.image-container{
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #4e1c4c);  
    background: linear-gradient(to right, #0b8793, #360033); 

}



.login input[type="text"],
.login input[type="password"]
{
    
    
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: #555555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 80%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    margin-bottom: 10px;
}
.login input[type="text"]:focus,
.login input[type="password"]:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}



.btn[type="submit"] 
{
    width: 100%;
    color: #e6e6e6;
    border: none;
    border-radius: 5px;
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  
    background: linear-gradient(to right, #0b8793, #360033);
    cursor: pointer;
}




.login100-form-title 
{
    font-size: 30px;
    color: #0b8793;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 32px;
}

.txt1
{
    font-size: 13px;
    color: #b83f3f;;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 11px;
    display: block;
    font-weight: bold;
}



