
/*
    ======================================
    
    DASHBOARD PAGE STYLE

    ========================================
*/


.tab button.active 
{
    color: #fff;
    border-bottom: 4px solid #ffd943;
}

.tab button 
{
    background: inherit;
    color: #ffffff9c;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 4px solid transparent;
}

.tabcontent 
{
    display: none;
}

